<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Notes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<div class="row">
    <div class="col-6"></div>
    <div class="col-6 text-right">
        <a href="/">Home</a>
    </div>
</div>
<div class="container">
    <h1 class="mt-4">Doctor Notes</h1>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>Patient ID</th> <!-- Added Patient ID Column -->
            <th>Patient Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.patientId}"></td> <!-- Display Patient ID -->
            <td th:text="${patient.givenName} + ' ' + ${patient.familyName}"></td>
            <td>
                <a th:href="@{/docNotes/patient/{patientId}(patientId=${patient.patientId})}" class="btn btn-info">View Notes</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
